<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PhishGuard</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <!-- <link rel="stylesheet" href="main.css"> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='styles/main.css') }}"
    />
    <link
      rel="icon"
      href="static\images\log2.png"
      type="image/png"
      style="max-width: 100; height: auto"
    />
  </head>

  <body class="login">
    <!-- Reset pwd popup -->
    {% if meth == "POST" %} {% if show_reset_popup %} {% set popup_head = "Reset
    Status" %} {% set popup_body = "link sent succesully" %} {% include
    'popup.html' %} {% endif %}
    <script>
      openPopup();
    </script>
    {% endif %}
    <!-- <! vesgg-> -->

    {% if meth == "POST" and registration%} {% set popup_head ="Registration
    Status" %} {% set popup_body = body %} {%include 'popup.html' %}
    <script>
      openPopup();
    </script>
    {% endif %}

    <!--- login -->
    {% if meth=="POST" %} {% if not show_popup %} {% set popup_head = "Login
    Failed" %} {% set popup_body = "please enter valid credentials....." %} {%
    include 'popup.html' %}
    <script>
      openPopup();
    </script>
    {% endif %} {% endif %}

    <section id="header">
      <div class="header container">
        <div class="nav-bar">
          <div class="brand">
            <a href="/welcome">
              <h1><span>P</span>hish <span>G</span>uard</h1>
            </a>
          </div>
          <div class="nav-list">
            <div class="hamburger">
              <div class="bar"></div>
            </div>
            <ul>
              <li><a href="/login" data-after="Login">login</a></li>

              <li><a href="/signup" data-after="Register">Register</a></li>

              <li>
                <a href="/devloper" data-after="Developers">Developers</a>
              </li>
              <li>
                <a href="/phishdb">Predictions</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- End Header -->

    <div class="login-container">
      <h2>Login</h2>
      <form action="/login" method="post">
        <div style="position: relative">
          <i class="fas fa-user"></i>
          <input type="text" name="username" id="username" required />
          <label for="username">Username</label>
        </div>
        <div style="position: relative">
          <i class="fas fa-lock"></i>
          <input type="password" name="password" id="password" required />
          <label for="password">Password</label>
        </div>
        <button type="submit">Login</button>
      </form>
      <div class="forgot-password">
        <a href="forgot">Forgot Password?</a>
      </div>
      <div class="signup-link">
        Don't have an account? <a href="signup">Sign Up</a>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var loginContainer = document.querySelector(".login-container");
        setTimeout(function () {
          loginContainer.style.opacity = "1";
        }, 10);

        // For each input field
        document
          .querySelectorAll(".login-container input")
          .forEach(function (input) {
            input.addEventListener("focus", function () {
              input.nextElementSibling.style.top = "-10px";
              input.nextElementSibling.style.fontSize = "16px";
              input.nextElementSibling.style.color = "black";
            });

            input.addEventListener("blur", function () {
              if (input.value === "") {
                input.nextElementSibling.style.top = "30px";
                input.nextElementSibling.style.fontSize = "16px";
                input.nextElementSibling.style.color = "black";
              }
            });
          });
      });
    </script>
  </body>
</html>
