<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PhishGuard</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <!-- <link rel="stylesheet" href="main.css"> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='styles/main.css') }}"
    />
    <link
      rel="icon"
      href="static\images\log2.png"
      type="image/png"
      style="max-width: 100; height: auto"
    />
  </head>

  <body class="signup">
    <!-- Header -->
    {% if meth == "POST" %} {% if registration %} {% set popup_head =
    "Registration Successful" %} {% set popup_body = body %} {% else %} {% set
    popup_head = "Registration Failed" %} {% set popup_body = body %} {% endif
    %} {% include 'popup.html' %}
    <script>
      openPopup();
    </script>
    {% endif %}

    <section id="header">
      <div class="header container">
        <div class="nav-bar">
          <div class="brand">
            <a href="/welcome">
              <h1><span>P</span>hish <span>G</span>uard</h1>
            </a>
          </div>
          <div class="nav-list">
            <div class="hamburger">
              <div class="bar"></div>
            </div>
            <ul>
              <li><a href="/login" data-after="Login">login</a></li>

              <li><a href="/signup" data-after="Register">Register</a></li>

              <li>
                <a href="/devloper" data-after="Developers">Developers</a>
              </li>
              <li>
                <a href="/phishdb">Predictions</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- End Header -->
    <div class="register-container">
      <h2>Register</h2>
      <form action="/signup" method="post" id="register-form">
        <div style="position: relative">
          <i class="fas fa-user"></i>
          <input type="text" name="reg-username" id="reg-username" required />
          <label for="reg-username">Username</label>
        </div>
        <div style="position: relative">
          <i class="fas fa-envelope"></i>
          <input type="email" name="reg-email" id="reg-email" required />
          <label for="reg-email">Email</label>
        </div>
        <div style="position: relative">
          <i class="fas fa-lock"></i>
          <input
            type="password"
            name="reg-password"
            id="reg-password"
            required
          />
          <label for="reg-password">Password</label>
        </div>
        <div style="position: relative">
          <i class="fas fa-lock"></i>
          <input
            type="password"
            name="confirm-password"
            id="confirm-password"
            required
          />
          <label for="confirm-password">Confirm Password</label>
        </div>
        <button type="submit">Register</button>
      </form>
      <div class="signup-link">
        Already have an account? <a href="login">Login</a>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var registerContainer = document.querySelector(".register-container");
        setTimeout(function () {
          registerContainer.style.opacity = "1";
        }, 10);

        var form = document.getElementById("register-form");
        form.addEventListener("submit", function (event) {
          var password = document.getElementById("reg-password").value;
          var confirmPassword =
            document.getElementById("confirm-password").value;

          if (password !== confirmPassword) {
            event.preventDefault(); // Prevent form submission
            alert("Passwords do not match. Please try again.");
          }
        });

        // For each input field
        document
          .querySelectorAll(".register-container input")
          .forEach(function (input) {
            input.addEventListener("focus", function () {
              input.nextElementSibling.style.top = "-10px";
              input.nextElementSibling.style.fontSize = "16px";
              input.nextElementSibling.style.color = "black";
            });

            input.addEventListener("blur", function () {
              if (input.value === "") {
                input.nextElementSibling.style.top = "30px";
                input.nextElementSibling.style.fontSize = "16px";
                input.nextElementSibling.style.color = "black";
              }
            });
          });
      });
    </script>
  </body>
</html>
